@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "ABeeZee", sans-serif;
}

body {
	background: hsl(210, 40%, 96.1%);
}

::selection {
	background: #000;
	color: #fff;
}

main {
	height: 100svh;
}

header {
	padding: 12px 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	/* background: hsl(222, 47.4%, 11.2%); */
}

header h1 {
	font-size: 1.5em;
	color: hsl(271, 81.3%, 55.9%);
}

.toggle {
	background: hsl(271, 81.3%, 55.9%);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 7.5px;
	padding: 8px 10px;
	border-radius: 5px;
	text-decoration: none;
}

.searchResult {
	overflow-y: scroll;
	height: 81%;
}

.senderText {
	/* background: #d3d3d3; */
	background-color: hsl(271, 81.3%, 55.9%);
	color: #fff;
	padding: 16px 12px;
	font-size: 1.2em;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	gap: 10px;
}

.senderText .image {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background: #fff;
	color: hsl(271, 81.3%, 55.9%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.aiResult {
	/*background: #008080;*/
	background-color: #fff;
	padding: 16px 12px;
	font-size: 1.2em;
	width: 100%;
	color: #000;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	gap: 10px;
}

.aiResult .image {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	background: hsl(271, 81.3%, 55.9%);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchArea {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 16px 12px;
	box-shadow: 0 0 2px rgba(8, 7, 16, 0.6);
}

.searchArea div:first-child {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	background: hsl(218, 10.6%, 64.9%);
	border-radius: 10px;
	padding: 6px 12px;
}

.searchArea div input {
	width: 100%;
	height: 40px;
	font-size: 1.1em;
	border-radius: 10px;
	background: transparent;
	color: #fff;
	backdrop-filter: blur(10px);
}

.searchArea div input::placeholder {
	color: #e6e6e6;
}

.searchArea div input:hover {
	/*	border: 2px solid hsl(271, 81.3%, 55.9%); */
}

.searchArea button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: hsl(271, 81.3%, 55.9%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
}

.searchArea button i {
	font-size: 1.3em;
}

.searchArea div:last-child {
	text-align: center;
}
